<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="mysqlServer" value="127.0.0.1"/>
    <add key="mysqlUsername" value="daniel"/>
    <add key="mysqlPassword" value="Dd0545911616!"/>
    <add key="mysqlDatabase" value="mmo_db"/>
  </appSettings>
</configuration>
